/*

RESET

*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    margin: 0% auto;
}

.my-row{
    display:flex
}



a{
    text-decoration: none;
    text-decoration-style: none;
    color: white;
    font-size: 1.2em;
}

h1{
    font-size: 1.2em;
    padding-bottom: 5px;
}

h2{
    font-size: 0.9em;
}

img{
    display: block;
}

.hover{
    display:none;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.column-3

.red-text{
    color:red;
}

.line-through{
    text-decoration: line-through;
}

.not-bold{
    font-weight: normal;
}

/*

HEADER

*/


.flex-1{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 2400px;
}

.column-1{
    text-align: center;
    width: calc( 100%/3 );
    color: white;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px;
}

.column-1>img{
    object-fit: contain;
    max-height: 40px;
    max-width: 400px;    
}

.fixed{
    position: fixed;
    z-index: 99;
}

/*

MAIN

*/

main{
    font-weight: bold;
}

.flex-3{
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}

.column-3{
    width: calc(100%/3 - 50px);
    margin-top: 30px;
    position: relative;
}

.column-3>img{
    width: 100%;
}

.heart{
    display: block;
    background-color: white;
    position: absolute;
    bottom: 520px;
    text-align: center;
    font-size: 2em;
    width: 9%;
    left: 92%;
    z-index: 2;
}

.heart:hover{
    color: red;
}

.discount{
    display: block;
    background-color: #FF0000;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 120px;
    width: 14%;
    padding: 1%;
    font-weight: bold;
    z-index: 2;
}

.sostenibilità{
    display: block;
    background-color: #008000;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 120px;
    width: 27%;
    left: 15%;
    padding: 1%;
    font-weight: bold;
    z-index: 2;
}

.sostenibilità:nth-child(6){
    left: 0;
}
    

.column-3:hover .hover{
    display: block;
    z-index:1;
}



/*

FOOTER
    
*/

.flex-2{
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    align-content: space-around;
    margin-top: 50px;
}

.column-2{
    width: 50%;
    padding-top: 10px;
    padding-bottom: 15px;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.right>h2{
    padding-right: 2%;
    padding-bottom: 5px;
}

.right>a{
    padding-left: 1%;
}

/*

DEBUG

*/


.debug .flex-1{
    
    background-color: #FF6900;
    border-bottom: outset;
}

.debug footer,
.debug .flex-2{
    background-color: #1A1A1A;
    color: white;
}

.debug main{
    background-color: white;
}


